* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        width: 100%;
}

html {
        scroll-behavior: smooth;
}

.nav-bg {
        background: lightgoldenrodyellow;
        border-bottom: 1px dotted black;
}

.banner-bg {
        background: rgb(252, 234, 232);
}

nav ul li a {
        font-weight: 700;
}

.pink {
        color: rgb(255, 75, 146);
}

.buy-btn {
        background: rgb(255, 75, 146);
        color: white;
        padding: 10px 20px;
}

.category-bg1 {
        background: rgb(255, 165, 0);
}

.category-bg2 {
        background: rgb(218, 112, 214);
}

.category-bg3 {
        background: rgb(0, 0, 255);
}

#subscribe {
        background: rgb(252, 234, 232);
        height: 350px;
}

footer {
        background: lightgoldenrodyellow;
        border-top: 1px dotted black;
}