* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        width: 100%;
}

.banner-bg {
        background: rgb(252, 234, 232);
}

.pink {
        color: rgb(255, 75, 146);
}

.buy-btn {
        background: rgb(255, 75, 146);
        color: white;
        padding: 10px 20px;
}

.category-bg1 {
        background: rgb(255, 165, 0);
        border-radius: 10px;
}

.category-bg2 {
        background: rgb(218, 112, 214);
        border-radius: 10px;
}

.category-bg3 {
        background: rgb(0, 0, 255);
        border-radius: 10px;
}

#subscribe {
        background: rgb(252, 234, 232);
        height: 350px;
}

footer {
        background: rgb(255, 75, 146);
}